.dashboard-container {
  padding: 20px;
  margin-top: 10px;
  transition: all 0.9s ease;
  margin-bottom: 5px;
  height: 80%;
  background-color: #f0f0f0;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  
}

.greeting-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
  margin-top: 8px;
  position: sticky;
  z-index: 1;
}

.greeting-content {
  flex: 1;
  padding-right: 30px;
}

.greeting-content h1 {
  margin: 0;
  color: #163B5A;
  font-size: 1.5em;
  font-weight: 600;
}

.greeting-content p {
  margin: 10px 0 0;
  color: #666;
  font-size: 1em;
}

.dashboard-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 20px;
  border-radius: 15px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  margin-bottom: 8px;
  margin-top: 20px;
}



.weather-wrapper {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive styles */
@media (max-width: 768px) {
  .greeting-section {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .greeting-content {
    padding-right: 0;
    padding-bottom: 20px;
  }

  .weather-wrapper {
    margin: 0 auto;
  }
}