<div class="form-overlay" *ngIf="isVisible">
  <div class="server-form">
    <h2>Add Server</h2>

    <form [formGroup]="serverForm" (ngSubmit)="submitForm()">
      <label>Server Name:</label>
      <input type="text" formControlName="server_name">

      <label>Server Secret Name:</label>
      <input type="text" formControlName="server_secret_name">

      <label>Server Secret Password:</label>
      <input type="text" formControlName="server_secret_password">

      <label>Emails:</label>
      <div class="email-input-wrapper">
        <div class="email-tag" *ngFor="let emailCtrl of getEmails.controls; let i = index">
           {{ emailCtrl.value.email }}
            <span class="remove" (click)="removeEmail(emailCtrl.value.email)">×</span>
        </div>
        <input
            type="text"
            [(ngModel)]="emailInput"
            (keydown.enter)="addEmail()"
            placeholder="Type email and press Enter"
        />
        </div>
        <div class="button-container">
            <button class="save-btn" type="submit">Save</button>
            <button class="close-btn" type="button" (click)="closeForm()">Cancel</button>
        </div>
    </form>
  </div>
</div>
