<div class="form-overlay" *ngIf="isVisible">
  <div class="server-form">
    <h2>Add Server Details</h2>

    <form [formGroup]="serverForm" (ngSubmit)="onSubmit()">
      <label>Server Name:</label>
      <input type="text" formControlName="server_name">
      <div class="error" *ngIf="serverForm.get('server_name')?.touched && serverForm.get('server_name')?.invalid">
         Server Name is required.
      </div>

      <label>Server Secret Name:</label>
      <input type="text" formControlName="server_secret_name">
      <div class="error" *ngIf="serverForm.get('server_secret_name')?.touched && serverForm.get('server_secret_name')?.invalid">
        Secret Name is required.
      </div>

      <label>Server Secret Password:</label>
      <input type="text" formControlName="server_secret_password">
      <div class="error" *ngIf="serverForm.get('server_secret_password')?.touched && serverForm.get('server_secret_password')?.invalid">
        Secret Password is required.
      </div>

      <label>Emails:</label>
      <input type="text" formControlName="emails" placeholder="Type email and press Enter or ;"/>
      <div class="error" *ngIf="serverForm.get('emails')?.touched && serverForm.get('emails')?.hasError('required')">
        At least one email is required.
      </div>
      <div class="error" *ngIf="serverForm.get('emails')?.hasError('backend')">
        {{ serverForm.get('emails')?.getError('backend') }}
      </div>



      <div class="button-container">
        <button class="save-btn" type="submit" >Save</button>
        <button class="close-btn" type="button" (click)="closeForm()">Cancel</button>
      </div>
    </form>
  </div>
</div>
