

<div>
    <label for="numDivs">Enter number of divs:</label>
    <input type="number" id="numDivs" [(ngModel)]="numDivs" min={{numDivs}}>
</div>

<!-- Loop through 9 containers -->
<div *ngFor="let container of containers" class="container-div">
   
    <div class="status-bar-container">
        <div class="status-bar">
            <div *ngFor="let n of getArray(numDivs)" class="bar"></div>
        </div>
    </div>
</div>

<div *ngFor="let data of chartData" [style.backgroundColor]="getBarColor(data.value)">
  {{ data.label }}: {{ data.value }}
</div>
