.footer {
    width: 100%;
    background-color: #ddd; /* Light grey */
    color: #888;
    text-align: center;
    padding: 5px 30px 50px 30px;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 5px solid #144a71; /* Blue border */
    height: 20px;
  }
  