<button class="btn btn-back" (click)="goBack()">
  <i class="fas fa-arrow-left"></i>
  Back to Servers
</button>

<!-- Server Details Section -->
<div class="server-details-container" *ngIf="serverDetails">
  <h2>Server Details</h2>
  <div class="server-info">
    <div class="info-item">
      <span class="label">Server Name:</span>
      <span class="value">{{ serverDetails.server_name }}</span>
    </div>
    <div class="info-item">
      <span class="label">Server ID:</span>
      <span class="value">{{ serverDetails.id }}</span>
    </div>
    <div class="info-item">
      <span class="label">Uptime:</span>
      <span class="value">{{ serverDetails.created_on }} days</span>
    </div>
    <!-- Add more server details as needed -->
  </div>
</div>

<div class="server-actions-container">
  <div class="filter-container">
    <label for="timeFilter">Filter by Time: </label>
    <select id="timeFilter" [(ngModel)]="selectedTimeFilter" (change)="onTimeFilterChange()">
      <option value="minit">Minit</option>
      <option value="hour">Hour</option>
      <option value="day">Day</option>
      <option value="month">Month</option>
      <option value="year">Year</option>
    </select>
  </div>

  <div class="date-wrapper">
    <div class="date-container">
      <label for="startTime">Select start date: </label>
      <div class="input-with-icon">
        <input id="startTime" type="date" [(ngModel)]="startDate" (change)="applyTimeFilter()" #startInput>
      </div>
    </div>

    <div class="date-container">
      <label for="endTime">Select end date: </label>
      <div class="input-with-icon">
        <input id="endTime" type="date" [(ngModel)]="endDate" (change)="applyTimeFilter()" #endInput>
      </div>
    </div>
  </div>
</div>


<div class="server-container">
  <div class="service-table">
    <div class="table-header">
      <div class="header-cell">Service Name</div>
      <div class="header-cell">Status History</div>
      <div class="header-cell">Actions</div>
    </div>
    
    <div class="table-row" *ngFor="let serviceName of getServiceNames()">
      <div class="table-cell service-name">
        <h4>{{ serviceName }}</h4>
      </div>
      <div class="table-cell status-cell">
        <div class="container-div">
          <div class="status-bar-container">
            <div class="status-bar">
              <div *ngFor="let entry of getServiceData(serviceName)" 
                   class="bar" 
                   [ngClass]="{'status-red': entry.state === false, 'status-green': entry.state === true}">
                <span class="date-tooltip">{{ entry.date }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-cell action-cell">
        <button class="btn btn-primary" (click)="goToServiceDetail(serviceName)">View Details</button>
      </div>
    </div>
  </div>
</div>